{% block title %}
What do you think the tax will be? 
{% endblock %}

{% block content %}

{{ if session.config.development }}
    <button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

<p>
    What is your expected tax rate for the <b>third work period</b>? You can review instructions by clicking on "Review Instructions."
</p>

{{ formfields }}

<p id="taxRateText1"><br><br></p>


<br>
<p style="font-size: 20px;">
  <b>
    Recall that you may also be compensated for correctly predicting the tax rate you will face.
  </b>
</p>
<br>

<div class="col-md-12 text-center">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#reviewModal">
     Review Instructions
    </button>
</div>


<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Review Instructions</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            {{ include C.INSTRUCTIONS }}

            {{ include C.INSTRUCTIONS2 }}

            {{ include C.TAX_INSTRUCTIONS }}

            {{ include C.INSTRUCTIONS_BELIEFS }}  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<button style="float: right" class="btn btn-primary btn-large">Submit</button>

{% endblock %}

{% block styles %}

<style>
  .valid-text {
      color: blue;
  }
  .invalid-text {
      color: red;
  }
</style>

{% endblock %}

{% block scripts %}

<script>
  function updateTaxRate(inputId, textId, period) {
      document.getElementById(inputId).addEventListener('input', function() {
          let taxRate = this.value;
          let textElement = document.getElementById(textId);

          // Check if the input is a valid number between 0 and 100
          if (taxRate === "" || isNaN(taxRate) || taxRate < 0 || taxRate > 100) {
              textElement.innerHTML = `<span class="invalid-text">Please enter a number between 0 and 100.</span><br><br>`;
          } else {
              textElement.innerHTML = 
                  `<span class="valid-text">You entered <b>${taxRate}%</b> for the ${period} work period's tax rate. This means that you believe that you will face a <b>${taxRate}%</b> tax rate on your earnings from the ${period} work period.</span>`;
          }
      });
  }

  // Apply function to all three input fields
  updateTaxRate("id_beliefs3", "taxRateText1", "third");
</script>

{% endblock %}
