{% block title %}
Survey
{% endblock %}

{% block content %}

{{ if session.config.development }}
    <button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}



    <p class="question">
        <b>Question 1</b>
    </p>
    
    <p>
        Suppose you or a family member were attending university in the near future.
    </p>

    {{ formfield 'survey_student_loans_with_likert' }}



    {{ formfield 'survey_student_loans_with' }}

    <p>
        Past US presidential administrations and campaigns have announced their intention to eliminate student debt <i>only</i> among those with outstanding student loan debt. These plans would not, on their own, have eliminated student debt entirely for all students in the future.
    </p>

    <p>
        Continue supposing that you or a family member were attending university in the near future.
    </p>

    {{ formfield 'survey_student_loans_without_likert' }}



    {{ formfield 'survey_student_loans_without' }}

    <hr>

    <br>

    <p class="question">
        <b>Question 2</b>
    </p>
    
    {{ formfield 'survey_wealth_tax_savings' }}
    
    {{ formfield 'survey_wealth_tax_consumption' }}

<button style="float: right" class="otree-btn-next btn btn-primary">Submit</button>

{% endblock %}

{% block styles %}

<style>
    .question {
      font-size: 1.5em; /* Adjust this value as needed */
    }
  </style>

{% endblock %}

{% block scripts %}

{% endblock %}
