{% block title %}
Survey
{% endblock %}

{% block content %}

{{ if session.config.development }}
    <button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}



    <p class="question">
        <b>Question 4</b>
    </p>
    
    {{ formfield 'survey_repatriation' }}
    
    <hr>

    <br>

    <p class="question">
        <b>Question 5</b>
    </p>
    
    {{ formfield 'survey_one_time_policies' }}
    
    <hr>

    <br>

    <p class="question">
        <b>Question 6</b>
    </p>


<div style="text-align: center;">
    <img src="{% static 'img/taxbrackets.jpg' %}" alt="Image" style="width: 80%; height: auto; margin-right: 5px;">
</div>

{{ formfield 'survey_tax_rates_1' }}

{{ formfield 'survey_tax_rates_2'}}

{{ formfield 'survey_tax_rates_3' }}

{{ formfield 'survey_tax_rates_4'}}

{{ formfield 'survey_tax_rates_5' }}

<button style="float: right" class="otree-btn-next btn btn-primary">Submit</button>

{% endblock %}

{% block styles %}

<style>
    .question {
      font-size: 1.5em; /* Adjust this value as needed */
    }
  </style>

{% endblock %}

{% block scripts %}

{% endblock %}
