{% block title %}
Question 3
{% endblock %}

{% block content %}

{{ if session.config.development }}
    <button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

<p>
  High-earning and high-wealth taxpayers often hide their money abroad in order to avoid and evade domestic taxes. However, in the past, many governments have offered programs called "repatriation amnesties" that allow people to "repatriate" their money domestically from abroad at no or reduced penalties. That is, under these "repatriation amnesties," high-earning and high-wealth taxpayers can bring their income and wealth back home while paying reduced taxes and/or penalties than they would if they were caught.
</p>

{{ formfield 'survey_repatriation_likelihood' }}

{{ formfield 'survey_repatriation' }}

<button style="float: right" class="otree-btn-next btn btn-primary">Submit</button>

{% endblock %}

{% block styles %}

<style>
    .question {
      font-size: 1.5em; /* Adjust this value as needed */
    }
  </style>

{% endblock %}

{% block scripts %}

{% endblock %}
