{% block title %}
Survey
{% endblock %}

{% block content %}

{{ if session.config.development }}
    <button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}



    <p class="question">
        <b>Question 1</b>
    </p>
    
    {{ formfield 'survey_student_loans' }}
    
    <hr>

    <br>

    <p class="question">
        <b>Question 2</b>
    </p>
    
    {{ formfield 'survey_pandemic' }}
    
    <hr>

    <br>

    <p class="question">
        <b>Question 3</b>
    </p>
    
    {{ formfield 'survey_wealth_tax_savings' }}
    
    {{ formfield 'survey_wealth_tax_consumption' }}

<button style="float: right" class="otree-btn-next btn btn-primary">Submit</button>

{% endblock %}

{% block styles %}

<style>
    .question {
      font-size: 1.5em; /* Adjust this value as needed */
    }
  </style>

{% endblock %}

{% block scripts %}

{% endblock %}
